@font-face {
  font-family: "Forty Seconds";
  src: url("./fonts/FORTSSH_.ttf") format("truetype");
}

@font-face {
  font-family: "Lazer84";
  src: url("./fonts/Lazer84.ttf") format("truetype");
}

@font-face {
  font-family: "Summer85";
  src: url("./fonts/summer85.ttf") format("truetype");
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

section {
  min-height: 100vh;
}

.landing {
  background-color: #e6e6e6;
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  position: relative;
}

.landing__logo {
  margin-top: -4rem;
  z-index: 1;
  right: 1rem;
  bottom: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.landing__logo img {
  max-height: 180px;
  z-index: 2;
}

.landing__coming-soon {
  font-family: "Lato";
  font-size: 0.85rem;
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.landing__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 10;
  color: white;
}

.landing__hero {
  font-size: 1.2em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

.hero__text {
  display: inline-block;
  padding: 0;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.hero__text:nth-child(2),
.hero__text:nth-child(4),
.hero__text:nth-child(7) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.hero__text:nth-child(6),
.hero__text:nth-child(9) {
  -webkit-animation-delay: 750ms;
          animation-delay: 750ms;
}

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  50% {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  100% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
}

@keyframes wiggle {
  0% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
  50% {
    -webkit-transform: rotateZ(-5deg);
            transform: rotateZ(-5deg);
  }
  100% {
    -webkit-transform: rotateZ(5deg);
            transform: rotateZ(5deg);
  }
}

@media only screen and (min-width: 450px) {
  .landing__hero {
    font-size: 2em;
  }
}
/*# sourceMappingURL=style.css.map */