@font-face{font-family:"matthan-sans-italic";src:url("./dist/fonts/matthan\ sans\ italic.ttf") format("truetype")}
@font-face{font-family:"matthan-sans";src:url("./dist/fonts/matthan\ sans\ regular.ttf") format("truetype")}
@font-face{font-family:"bebaskai";src:url("./dist/fonts/bebaskai-regular.otf") format("truetype")}
.section{
  text-align:center;
}
.controlArrow.prev {
  left: 50px;
}
.controlArrow.next{
  right: 50px;
}

#infoMenu li a {
  color: #fff;
}
.section, .slide {
  top: 0;
  left: 0;
  visibility: visible;
  overflow: hidden;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.intro {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
.intro-dhwani {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
}
.intro-dhwani h1 {
  font-size: 7em;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: white;
  font-family: "bebaskai";
  letter-spacing: 10px;
  opacity: .9;
  margin-top: 50%;
  margin-left: 5%;
}
.intro-about {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: absolute;
}
.intro-about h1 {
  font-size: 7em;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: white;
  font-family: "bebaskai";
  letter-spacing: 10px;
  opacity: .9;
  margin-top: 15%;
  margin-left: 5%;
}
.about-description p {
  font-size: 1em;
  color: white;
  font-family: "bebaskai";
  letter-spacing: 10px;
  opacity: .9;
  margin-left: 5%;
}
.intro-events {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative
}
.intro-events h1 {
  font-size: 7em;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  color: white;
  font-family: "bebaskai";
  letter-spacing: 10px;
  opacity: .9;
  margin-top: 65%;
  margin-left: 5%;
}
.dhwani-year h1{
  position: absolute;   
  color: grey;
  font-size: 7em;
  font-family: "matthan-sans";
  letter-spacing: 3px;
  margin-left: 13%;
  margin-top: 63.3%;
}
.intro p {
  color: #222;
}

#section1{
  background-color: #1F2E41;
}
#section2{
  background-color: #1F2E41;
}
#section3{
  background-color: #1F2E41;
}
#section0 .intro {
  background-image: url('');
}
#section1 .intro {
  background-image: url('');
}
#section2 .intro {
  background-image: url('');
}
#particles-js{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
}
.landing__logo {
  max-height: 230px;
  margin-left: 85%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  }
  .date{
    position: absolute;
    font-size: 2em;
    font-family: "matthan-sans";
    color: white;
    letter-spacing: 3px;
    line-height: 5px;
    opacity: 0.7;
    margin-top: 59%;
    margin-left: 13.5%;
}
.college-name{
  position: absolute;
  font-size: 15;
  margin-top: 67%;
  margin-left: 80%;
  font-family: "bebaskai";
  color: white;
  letter-spacing: 3px;
  line-height: 90%;
  opacity: 0.7;
}