*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@font-face{font-family:"matthan-sans-italic";src:url("./dist/fonts/matthan\ sans\ italic.ttf") format("truetype")}
@font-face{font-family:"matthan-sans";src:url("./dist/fonts/matthan\ sans\ regular.ttf") format("truetype")}
@font-face{font-family:"bebaskai";src:url("./dist/fonts/bebaskai-regular.otf") format("truetype")}
html {
scroll-behavior: smooth;
}

#section1 {
height: 100%;
}

#section2 {
height: 100%;
}

section {
    min-height: 100%;
}

.landing__logo {
    z-index: 1;
}
.about{
    position: relative;
    margin-top: -15.5%;
    height: 5%;
    width: 13%;
    font-size: 80;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    color: white;
    font-family: "bebaskai";
    letter-spacing: 10px;
    opacity: .9;
}
.about-year{
    position: absolute; 
    height: 30%;
    width: 20%;    
    color: grey;
    font-size: 80;
    font-family: "matthan-sans";
    letter-spacing: 3px;
    margin-left: 13%;
    margin-top: 31.2%;
}

.date{
    position: absolute; 
    height: 30%;
    width: 50%;
    font-size: 30;
    margin-top: 28.5%;
    margin-left: 13.5%;
    font-family: "matthan-sans";
    color: white;
    letter-spacing: 3px;
    line-height: 90%;
    opacity: 0.7;
}
.college-name{
    position: absolute; 
    height: 30%;
    width: 50%;
    font-size: 15;
    margin-top: 36.5%;
    margin-left: 81.5%;
    font-family: "bebaskai";
    color: white;
    letter-spacing: 3px;
    line-height: 90%;
    opacity: 0.7;
}

#top-menu {position: absolute;height: 100%; width:100%; font-size:0;}
#top-menu-left, #top-menu-middle, #top-menu-right {display: inline-block; *display: inline; zoom: 1; vertical-align: top; font-size: 12px;}
#top-menu-left {width: 25%;}
#top-menu-middle {width: 50%; background: green;}
#top-menu-right {width: 25%; background: yellow;}

.landing__logo {
max-height: 230px;
margin-left: 85%;
position: -webkit-sticky; /* Safari */
position: sticky;
top: 0;
}

.welcome h2{
    writing-mode: vertical-rl;
    text-orientation: upright;
}

#particles-js{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
}

.landing__hero {
    font-size: 1.5em;
    position: relative;
    width: 90%;
  }
.logo
{
    margin-top: 25px;
    font-size: 28px;
    text-transform: uppercase;
}
.welcome
{
    margin-right: 5%;
    position: relative;
    height: 100%;
    width: 50%;
}
