$clr-text-shadow: black;

.landing {
  background-color: rgb(230, 230, 230);
  font-family: $ff-main, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  position: relative;

  &__logo {
    margin-top: -4rem;
    z-index: 1;
    right: 1rem;
    bottom: 1rem;
    background-color: rgba(black, 0.1);
    img {
      max-height: 180px;
      z-index: 2;
      // filter: drop-shadow(5px 5px 0.75rem $clr-gold)
      //   drop-shadow(-5px -5px 1rem $clr-gold);
      // animation: logo-shadow 2s linear infinite alternate;
      // filter: drop-shadow(1px 1px 5px steelblue)
      //   drop-shadow(-1px -1px 5px steelblue);
    }
  }

  &__coming-soon {
    font-family: $ff-sub;
    // transform: scale(0.85);
    font-size: 0.85rem;
    // text-shadow: 2px 2px $clr-text-shadow;
  }
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
}

.landing__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: white;
}

.landing__hero {
  font-size: 1.2em;
  position: relative;
  // text-shadow: 5px 5px $clr-text-shadow;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}

.hero__text {
  // animation: wiggle 3s ease-in-out infinite;
  display: inline-block;
  // margin: 2px;
  padding: 0;
  flex-wrap: nowrap;
}

.hero__text:nth-child(2),
.hero__text:nth-child(4),
.hero__text:nth-child(7) {
  animation-delay: 500ms;
}

.hero__text:nth-child(6),
.hero__text:nth-child(9) {
  animation-delay: 750ms;
}

@keyframes wiggle {
  0% {
    // transform: translateY(-10px);
    transform: rotateZ(5deg);
  }
  50% {
    // transform: translateY(10px);
    transform: rotateZ(-5deg);
  }
  100% {
    // transform: translateY(-10px);
    transform: rotateZ(5deg);
  }
}

// @keyframes logo-shadow {
//   0% {
//     filter: drop-shadow(0 0 0.75rem $clr-gold)
//       drop-shadow(-5px -5px 1rem $clr-gold);
//   }
//   50% {
//     filter: drop-shadow(5px 5px 0.75rem $clr-gold)
//       drop-shadow(-5px -5px 1rem $clr-gold);
//   }
//   100% {
//     filter: drop-shadow(5px 5px 0.75rem $clr-gold)
//       drop-shadow(0 0 1rem $clr-gold);
//   }
// }

@media only screen and (min-width: 450px) {
  .landing__hero {
    font-size: 2em;
  }
}
